.fruit-btn {
    margin:5px 5px;

}

#jumbo-wrapper{
    background-color: #e1e8f0;
}

.btn-primary {
    background-color:#393f4d;
    border:none;
}

.jumbotron {
    background:transparent;
}

body {
    /* background-color:#e1e8f0; */
    background-color: #1d1e22
}